<%= form_with(model: librairy_book) do |form| %>
  <% if librairy_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(librairy_book.errors.count, "error") %> prohibited this librairy_book from being saved:</h2>

      <ul>
        <% librairy_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :status_date %>
    <%= form.datetime_select :status_date %>
  </div>

  <div class="field">
    <%= form.label :internal_info %>
    <%= form.text_area :internal_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
